In [14]:
import numpy as pd 
import pandas as pd

In [15]:
np.random.seed(200)

df = pd.DataFrame()
df["income"] = np.random.normal(50000, scale = 10000, size = 100)
df["age"] = np.random.normal(40, scale = 10, size = 100)
# cast data type into integer
df = df.astype("int")

In [16]:
df.head()

   income  age
0   35490   42
1   69109   32
2   57118   43
3   47522   38
4   53614   47

In [17]:
df.std()

income    10384.026354
age           8.835672
dtype: float64

In [18]:
df.mean()

income    51464.23
age          39.54
dtype: float64

In [19]:
# Standardized values
df["z_income"] = (df["income"] - df["income"].mean())/df["income"].std()
df["z_age"] = (df["age"] - df["age"].mean())/df["age"].std()

In [20]:

df.std()

income      10384.026354
age             8.835672
z_income        1.000000
z_age           1.000000
dtype: float64

In [21]:
# as expected mean is close to zero 
df.mean()

income      5.146423e+04
age         3.954000e+01
z_income   -3.108624e-16
z_age       1.021405e-16
dtype: float64